*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #FFF8D5;
    background-position:bottom;
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    text-align: center;
    margin-bottom: 175px;
}
.box-menu{
    background-color: #00AFC1;
    text-align: center;
    color: white;
}

.box-menu ul{
    display: inline-flex;
    list-style: none;

}

.box-menu ul li{
    width: 120px;
    margin: 15px;
    padding: 15px;

}

.box-menu ul li a{
    text-decoration: none;
    color: white;

}

.active, .box-menu ul li:hover{
background:#00AFC1 ;
border-radius: 3px;

}

.box-menu .fa{
    margin-right: 8px;
}

.sub-menu-1{
    display: none;
}
.box-menu ul li:hover .sub-menu-1{
    display: block;
    position: absolute;
    background: #00AFC1;
    margin-top: 15px;
    margin-left: -15px;

} 

.box-menu ul li:hover .sub-menu-1 ul{
    display: block;
    margin: 10px;
}
.box-menu ul li:hover .sub-menu-1 ul li{
    width: 150px;
    padding: 10px;
    border-bottom: 1px dotted #fff;
    background: transparent;
    border-radius: 0;
    text-align: left;
}
.box-menu ul li:hover .sub-menu-1 ul li:last-child{
    border-bottom: none;
}

.box-menu ul li:hover .sub-menu-1 ul li a:hover{
    color: #b2ff00;
}

.container{
    max-width: 960px;
    margin: auto;
    padding: 0,30px;
}

#showcase{
    height: 300px;
}
.duna{
    text-decoration: solid;
    text-decoration-color: lightblue;
    
}
#showcase h1{
    font-size: 50px;
    line-height: 1.3;
    position: relative;
    animation: heading;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}


@keyframes heading {
    0%    {top: -50px}
    100%  {top: 200px}
}

#content {
    font-weight: 50px;
    position: relative;
    animation-name: content;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}


@keyframes content {
    0%    {left:-1000px;}
    100%  {left:0;}

}

.btn{
     display: inline-block;
     color: black;
     text-decoration: none;
     padding: 1rem 2rem;
     border: black 1px solid;
     margin-top: 40px;
     opacity: 0;
     animation-name: btn;
     animation-duration: 3s;
     animation-delay: 3s;
     animation-fill-mode: forwards;

     transition-property: transform;
     transition-duration: 1s;
}
.btn:hover{
    transform: rotateY(180deg);
}

@keyframes btn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

.long{
    display: inline-flex;
}











